//Form styles
div.wpcf7 input,
div.wpcf7 button,
div.wpcf7 textarea {
  @include input-text;
  @include input-style;
  color: #ffffff;
}
div.wpcf7 textarea {
  padding-right: 10px;
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
  background-size: size(15);
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
  background-size: size(20);
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
  background-size: size(23);
}
div.wpcf7 button[type="submit"] {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: size(23);
  line-height: size(24);
  font-weight: 700;
  text-align: center;
  white-space: normal;
  background-color: #ffffff;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: size(48);
  padding-right: 8px;
  width: 100%;
  &:hover {
	&:after {
	  background-image: url("../iconsall/arrow-left-w.png");
	  background-color: #000000;
	  transition: color, background-image .5s;
	}
  }
  &:after {
	content: '';
	@include d-center;
	position: absolute;
	left: 3px;
	width: size(41);
	height: size(38);
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../iconsall/arrow-left.png");
	background-size: size(23);
	border: 1px solid #000000;
	background-color: #ffffff;
	transition: color, background-image .5s;
  }
}
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
	color: #ffffff;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
	color: #ffffff;
  }
}
.white-back-form {
  .wpcf7-form {
	::placeholder {
	  color: #000000;
	}
	::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	  color: #000000;
	}
  }
  div.wpcf7 input {
	background-color: #ffffff;
	border: 1px solid #000000;
  }
  div.wpcf7 input[type="text"] {
	background-image: url("../iconsall/form-black-name.png");
  }
  div.wpcf7 input[type="email"] {
	background-image: url("../iconsall/form-black-mail.png");
  }
  div.wpcf7 input[type="tel"] {
	background-image: url("../iconsall/form-black-tel.png");
  }
  div.wpcf7 button[type="submit"] {
	color: #ffffff;
	white-space: normal;
	background-color: #000000;
	&:hover {
	  &:after {
		background-image: url("../iconsall/arrow-left.png");
		background-color: #ffffff;
	  }
	}
	&:after {
	  background-image: url("../iconsall/arrow-left-w.png");
	  border: 1px solid #ffffff;
	  background-color: #000000;
	}
  }
}
.form-home-main {
  .wpcf7-form {
	::placeholder {
	  font-weight: 400;
	}
	::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder,
	div.wpcf7 input[type="text"], div.wpcf7 input[type="tel"] {
	  font-weight: 400;
	}
  }
}
