header {
  position: relative;
  background-color: #000000;
  border-bottom: 1px solid #fff;
  .hamburger {
	padding: 0;
	display: flex;
  }
  .hamburger-box {
	width: 25px;
  }
  .hamburger-inner::before {
	top: -7px;
  }
  .hamburger-inner::after {
	bottom: -7px;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: #ffffff;
	width: 25px;
	border-radius: 0;
	height: 3px;
  }
  .wpml-ls-display, .wpml-ls-native {
	display: none;
  }
  .wpml-ls-legacy-list-horizontal a {
	padding: 0 4px;
	img {
	  height: size(38);
	  width: auto;
	}
  }
  .wpml-ls-legacy-list-horizontal.wpml-ls-statics-footer {
	margin-bottom: 0;
	padding: 0;
  }
  .logo {
	height: 100%;
  }
}
.header-col-line {
  padding: size(16) 15px size(35) 15px;
}
.logo {
  @include d-center;
}
.langs-wrap {
  display: flex;
}
.header-tel-wrap {
  margin: 0 4px;
}
.drop-menu {
  display: none;
  position: absolute;
  right: 15px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px 15px 15px 3rem;
  border: 1px solid #ffffff;
  background-color: #050505;
  width: 250px;
  z-index: 9999;
  top: 100%;
  overflow-y: auto;
  nav {
	width: 100%;
  }
  ul{
	li{
	  display: flex;
	  align-items: baseline;
	  a {
		@include mid-text;
		color: #ffffff;
		margin-bottom: 0.5rem;
		transition: color .5s;
		&:hover {
		  color: #ffffff;
		  transition: text-shadow .5s;
		}
	  }
	}
  }
  li.menu-item-has-children {
	cursor: pointer;
	flex-direction: column;
	background-image: url("../iconsall/arrow-menu.png");
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 9px;
	padding-left: 10px;
	ul.sub-menu {
	  display: none;
	  margin-right: 0;
	  a {
		font-size: size(18);
		line-height: size(20);
		font-weight: 400;
		color: #ffffff;
		&:hover {
		  color: #ffffff;
		}
	  }
	}
  }
}
.header-tel {
  @include d-center;
  img {
	margin-right: size(23);
  }
  &:hover {
	.tel-number {
	  color: #ffffff;
	}
  }
}
.tel-number {
  color: #ffffff;
  font-size: size(23);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(25);
}
.pop-trigger {
  cursor: pointer;
  margin: 0 9px;
}
.pop-form {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form {
  position: relative;
  width: 100%;
  max-height: 95vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  overflow-y: auto;
  opacity: 0;
  &.show-float-form{
	opacity: 1;
	transform: translateY(0);
  }
}
.form-wrapper-pop {
  position: relative;
  @include d-center;
  border: 2px solid #ffffff;
  background-color: #000000;
  flex-direction: column;
  padding: size(50) 15%;
}
.close-form {
  position: absolute;
  right: 19px;
  top: 20px;
  cursor: pointer;
  img {
	width: 21px;
  }
}
.pop-form-title {
  @include mid-text;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}


//Footer
#go-top {
  position: absolute;
  right: 1rem;
  top: size(130);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 8888;
  img {
	width: size(19);
	animation: jump-top 1.2s ease-in-out alternate infinite;
	z-index: 9;
  }
}
.to-top-text {
  @include base-text;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}
//Footer
.footer-main {
  position: relative;
  padding-bottom: size(100);
  background-color: #000000;
  background-image: url("../img/footer-back.png");
  @include back-img;
  background-attachment: fixed;
}
.foo-menu {
  padding-top: 75px;
}
.foo-title {
  @include mid-text;
  color: #ffffff;
  font-family: $rubik;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 10px;
}
.menu-border-top {
  border-top: 3px solid #ffffff;
  padding-top: 23px;
}
.hop-hey.two-columns {
  column-count: 2;
  column-gap: 2rem;
}
footer {
  position: relative;
  margin-top: 2rem;
  &.contact {
	margin-top: 0;
	.foo-form-subtitle {
	  color: #ffffff;
	}
  }
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	padding-right: 10px;
	a, span {
	  font-size: size(14);
	  line-height: size(15);
	  font-weight: 400;
	  color: #ffffff;
	  transition: color .5s;
	}
	a:hover {
	  color: #ffffff;
	  cursor: pointer;
	  transition: color .5s;
	}
  }
}
.foo-form-subtitle {
  @include mid-text;
  color: #000000;
  font-family: $rubik;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  letter-spacing: normal;
}
.foo-form-block {
  background-color: #ffffff;
  padding-top: 15px;
}
