.faq {
  padding: size(40) 0;
  .card {
	border: none !important;
  }
  .question-card {
	margin-bottom: 34px;
  }
  .answer-body {
	padding: 20px size(35) 0 15%;
  }
}
.question-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: size(50);
  border-radius: 0;
  border: 2px solid #000000;
  background-color: #ffffff;
  padding: 10px 10px 10px size(45);
  &.active-faq {
	background-color: #000000;
	transition: background-color, background-image .5s;
	.faq-body-title {
	  color: #ffffff;
	  transition: color .5s;
	}
	.faq-arrow {
	  background-image: url("../iconsall/arrow-top-white.png");
	  border: 1px solid #ffffff;
	  background-color: #000000;
	  transition: background-color, border, background-image .5s;
	}
  }
}
.faq-body-title {
  font-size: size(23);
  line-height: size(25);
  color: #000000;
  font-weight: 700;
  text-align: right;
  transition: color .5s;
}
.question-header {
  border-radius: 0;
  background-color: transparent;
}
.faq-arrow {
  position: absolute;
  left: 14px;
  @include d-center;
  width: size(25);
  height: size(29);
  border: 1px solid #000000;
  background-color: #ffffff;
  background-image: url("../iconsall/arrow-down-back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: size(14);
  transition: background-color, border, background-image .5s;
}

//Slider
.slick-prev:before, .slick-next:before {
  color: transparent;
}
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	z-index: 33;
	top: unset;
	bottom: -2rem;
  }
  [dir="rtl"] .slick-next {
	right: unset;
	left: size(46);
  }
  [dir="rtl"] .slick-prev {
	left: 0;
	right: unset;
  }
}
.base-slider-block {
  position: relative;
  background-color: #000000;
}
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
	width: 100%;
  }
}
.slider-col-content {
  padding: size(50) 15px;
}


//Post card
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 100%;
}
.col-post {
  margin-bottom: 8px;
}
.post-card-content {
  padding: size(32) size(27);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #ffffff;
  .base-text {
	color: #ffffff;
  }
}
.post-img {
  position: relative;
  display: flex;
  width: 100%;
  background-color: #000000;
  @include back-img;
  &.not-img {
	background-attachment: fixed;
	background-image: url("../img/footer-back.png");
	background-size: auto;
  }
  &:after {
	content: '';
	display: block;
	padding-bottom: 61%;
  }
}
.post-card-title {
  @include mid-text;
  font-weight: 700;
  color: #ffffff;
  font-family: $heebo;
  transition: font-weight .5s;
  &:hover {
	color: #ffffff;
  }
}
.post-link, [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("../iconsall/arrow-left-w.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: size(25);
  transition: background-color, background-image .5s;
  &:hover {
	background-color: #ffffff;
	background-image: url("../iconsall/arrow-left.png");
	transition: background-color, background-image .5s;
  }
}
[dir="rtl"] .slick-next {
  background-image: url("../iconsall/arrow-right-w.png");
  &:hover {
	background-image: url("../iconsall/arrow-right.png");
  }
}
.repeat-block-slider {
  background-color: #000000;
}
//quote-block
.quote-block {
  padding-top: size(24);
  padding-bottom: 4rem;
}
.quote-item {
  padding: 21px 16%;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}
.quote-text {
  @include mid-text;
  color: #000000;
  text-align: center;
}
//Reviews
.review-title, .art-title {
  @include mid-text;
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
}
.review-title {
  text-align: center;
  margin-bottom: size(26);
}
.logo-rev {
  @include d-center;
  height: size(100);
  img {
	max-height: 100%;
	margin-bottom: 25px;
  }
}
.review-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 5px;
  margin-bottom: 25px;
}
.review-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  border: 2px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin-bottom: 12px;
}
.editions-trigger {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.play-button {
  cursor: pointer;
  margin-left: 17px;
}
//Reviews popup
.hidden-review {
  display: none;
}
#reviewsModal {
  .modal-content {
	border: none;
	border-radius: size(0);
  }
}
#reviews-pop-wrapper {
  z-index: 2222;
}
#reviewsModal {
  .modal-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
  }
  .modal-content .close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9999;
	cursor: pointer;
	top: 10px;
	right: 10px;
	background-color: transparent;
	.fa-times {
	  color: #ffffff;
	  font-size: 2rem;
	}
  }
}
.modal {
  z-index: 99999;
}
//Video
.video-modal {
  .modal {
	z-index: 9999999999999999999999;
  }
  .modal-body {
	position: relative;
	padding: 0;
  }
  .modal-content {
	background: none;
	border: none;
  }
  .modal-backdrop {
	z-index: 10;
  }
  .close {
	position: absolute !important;
	top: -50px;
	right: -50px;
	width: 50px;
	height: 50px;
  }
  .modal .close-icon {
	padding: 0;
	margin: 0;
	@include d-center;
  }
  .modal-body{
	iframe{
	  width: 100%;
	  height: 500px;
	  position: relative;
	}
  }
}
//Articles page
.art-item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #ffffff;
  background-color: #000000;
  padding: 15px;
  height: 100%;
}
.art-img {
  @include d-center;
  width: size(120);
  min-width: size(120);
  height: size(109);
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 8px;
  margin-left: 23px;
}
.art-content {
  .post-link {
	left: 14px;
	bottom: 14px;
  }
  .base-text-white {
	padding-left: 15%;
  }
}
