/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 22px;
  }
}
@media (max-width: 1500px) {
  .serv-cont-wrap {
	padding: size(30) size(20) size(20) 15%;
  }
}
/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 400px;
	  }
	}
  }
  .why-img-col {
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
	img {
	  display: none;
	}
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .header-tel {
	img {
	  margin: 0;
	}
  }
  .tel-number {
	display: none;
  }
  .gallery-slider {
	padding: 0 3rem;
  }
  .gallery-slider-block {
	.slick-prev, [dir="rtl"] .slick-next {
	  width: 3rem;
	}
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .pop-trigger {
	position: fixed;
	left: 0;
	top: 20%;
	margin: 0;
	width: size(46);
	z-index: 9999;
  }
  .process-wrap {
	align-items: center;
	* {
	  text-align: center;
	}
  }
  .whatsapp-fix {
	position: fixed;
	width: size(46);
	left: 0;
	top: calc(20% + 2rem);
	z-index: 9898;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 300px;
	  }
	}
	.close {
	  top: -40px;
	  right: -10px;
	}
  }
  .review-col {
	padding: 0 15px;
  }
  .modal {
	.form-wrapper-pop {
	  padding: 50px 14px;
	}
  }
  .serv-col {
	padding: 0 15px;
  }
}







/*
::::: Custom media queries :::::
*/
@media (max-width: 450px) {
  .header-tel-wrap {
	position: fixed;
	width: size(46);
	left: 0;
	top: calc(20% + 4rem);
	margin: 0;
	z-index: 99999;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 250px;
	  }
	}
  }
}

@media (max-width: 400px) {
  .contact-icon-wrap {
	margin: 0;
	margin-bottom: 20px !important;
  }
  .contact-item {
	flex-direction: column;
	margin-bottom: 35px;
  }
  header {
	.wpml-ls-legacy-list-horizontal a img {
	  height: unset;
	}
  }
}
