body {
  text-align: left;
  direction: ltr;
}

.wpcf7-form * {
  direction: ltr !important;
}
.wpcf7-form ::placeholder {
  text-align: left;
}
.wpcf7-form ::-webkit-input-placeholder, .wpcf7-form :-moz-placeholder, .wpcf7-form :-ms-input-placeholder {
  text-align: left;
}

div.wpcf7 input[type=text],
div.wpcf7 input[type=email],
div.wpcf7 input[type=tel],
div.wpcf7 textarea,
div.wpcf7 select {
  text-align: left;
  padding-left: 2rem;
  padding-right: 8px;
  background-position: 10px center;
}

div.wpcf7 button[type=submit] {
  background-position: calc(100% - 6px);
  padding-right: 2.55rem;
  padding-left: 8px;
}
div.wpcf7 button[type=submit]:after {
  background-image: url("../iconsall/arrow-right.png");
  right: 3px;
  left: unset;
}

.faq .answer-body {
  padding: 20px 15% 0 1.75rem;
}

.arrow-top {
  right: 15px;
  left: unset;
}

.faq-body-title {
  text-align: left;
}

.question-title {
  padding: 10px 2.25rem 10px 10px;
}

.contact-icon-wrap {
  margin-right: 1.9rem;
  margin-left: 0;
}

.header-tel img {
  margin-right: 0;
  margin-left: 1.15rem;
}

.post-link {
  right: 0;
  left: unset;
  background-image: url("../iconsall/arrow-right-w.png");
}
.post-link:hover {
  background-image: url("../iconsall/arrow-right.png");
}

.post-card-content {
  padding: 1.6rem 1.35rem;
}

.more-link {
  padding: 8px 2.45rem 8px 19px;
  background-position: calc(100% - 1rem) center;
}

.play-button {
  margin-left: 0;
  margin-right: 17px;
}

.art-img {
  margin-left: 0;
  margin-right: 23px;
}

.art-content .post-link {
  right: 14px;
  left: unset;
}
.art-content .base-text-white {
  padding-right: 15%;
  padding-left: 0;
}

.drop-menu {
  right: unset;
  left: 15px;
  padding: 15px 3rem 15px 15px;
}
.drop-menu li.menu-item-has-children {
  background-position: right center;
  padding-right: 10px;
  padding-left: 0;
}
.drop-menu li.menu-item-has-children ul.sub-menu {
  margin-right: 0;
  margin-left: 0;
}

.about-link, .serv-cont-wrap .post-link {
  background-image: url("../iconsall/arrow-right.png");
}
.about-link:hover, .serv-cont-wrap .post-link:hover {
  background-image: url("../iconsall/arrow-right-w.png");
}

.serv-cont-wrap {
  padding: 1.5rem 35% 1rem 1rem;
}
.serv-cont-wrap .post-link {
  left: unset;
  right: 10px;
}

.block-link {
  background-position: calc(100% - 10px) center;
  background-image: url("../iconsall/arrow-right-w.png");
}
.block-link:hover {
  background-position: right center;
}

.white-back-form div.wpcf7 button[type=submit]:hover:after {
  background-image: url("../iconsall/arrow-right.png");
}
.white-back-form div.wpcf7 button[type=submit]:after {
  background-image: url("../iconsall/arrow-right-w.png");
}

.file-icon-wrap {
  margin-right: 13px;
  margin-left: unset;
}

.video-trigger-wrap {
  padding: 8px 1.65rem 8px 3rem;
}
.video-trigger-wrap .play-button {
  right: unset;
  left: 0;
}

.all-socials {
  right: unset;
  left: 2rem;
}

@media (max-width: 1500px) {
  .serv-cont-wrap {
    padding: 1.5rem 15% 1rem 1rem;
  }
}

/*# sourceMappingURL=ltr.css.map */
