body{
  text-align: left;
  direction: ltr;
}
$base-size: 20;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}


//Forms ltr
.wpcf7-form {
  * {
	direction: ltr !important;
  }
  ::placeholder {
	text-align: left;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	text-align: left;
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="email"],
div.wpcf7 input[type="tel"],
div.wpcf7 textarea,
div.wpcf7 select {
  text-align: left;
  padding-left: size(40);
  padding-right: 8px;
  background-position: 10px center;
}
div.wpcf7 button[type="submit"] {
  background-position: calc(100% - 6px);
  padding-right: size(51);
  padding-left: 8px;
  &:after {
	background-image: url("../iconsall/arrow-right.png");
	right: 3px;
	left: unset;
  }
}
//Faq
.faq {
  .answer-body {
	padding: 20px 15% 0 size(35);
  }
}
.arrow-top {
  right: 15px;
  left: unset;
}
.faq-body-title {
  text-align: left;
}
.question-title {
  padding: 10px size(45) 10px 10px;
}
//Contact
.contact-icon-wrap {
  margin-right: size(38);
  margin-left: 0;
}
.header-tel {
  img {
	margin-right: 0;
	margin-left: size(23);
  }
}
//Partials
.post-link {
  right: 0;
  left: unset;
  background-image: url("../iconsall/arrow-right-w.png");
  &:hover {
	background-image: url("../iconsall/arrow-right.png");
  }
}
.post-card-content {
  padding: size(32) size(27);
}
.more-link {
  padding: 8px size(49) 8px 19px;
  background-position: calc(100% - 1rem) center;

}
.play-button {
  margin-left: 0;
  margin-right: 17px;
}
.art-img {
  margin-left: 0;
  margin-right: 23px;
}
.art-content {
  .post-link {
	right: 14px;
	left: unset;
  }
  .base-text-white {
	padding-right: 15%;
	padding-left: 0;
  }
}

//Header
.drop-menu {
  right: unset;
  left: 15px;
  padding: 15px 3rem 15px 15px;
  li.menu-item-has-children {
	background-position: right center;
	padding-right: 10px;
	padding-left: 0;
	ul.sub-menu {
	  margin-right: 0;
	  margin-left: 0;
	}
  }
}
.about-link, .serv-cont-wrap .post-link {
  background-image: url("../iconsall/arrow-right.png");
  &:hover {
	background-image: url("../iconsall/arrow-right-w.png");
  }
}
.serv-cont-wrap {
  padding: size(30) 35% size(20) size(20);
  .post-link {
	left: unset;
	right: 10px;
  }
}
.block-link {
  background-position: calc(100% - 10px) center;
  background-image: url("../iconsall/arrow-right-w.png");
  &:hover {
	background-position: right center;
  }
}
.white-back-form {
  div.wpcf7 button[type="submit"] {
	&:hover {
	  &:after {
		background-image: url("../iconsall/arrow-right.png");
	  }
	}
	&:after {
	  background-image: url("../iconsall/arrow-right-w.png");
	}
  }
}
.file-icon-wrap {
  margin-right: 13px;
  margin-left: unset;
}
.video-trigger-wrap {
  padding: 8px size(33) 8px size(60);
  .play-button {
	right: unset;
	left: 0;
  }
}
.all-socials {
  right: unset;
  left: 2rem;
}

//MEDIA QUERIES
@media (max-width: 1500px) {
  .serv-cont-wrap {
	padding: size(30) 15% size(20) size(20);
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  //.arrow-top {
	//right: size(12);
	//left: unset;
  //}
  //.faq-icon {
	//margin-right: 5px;
	//margin-left: unset;
  //}
  //.triggers-col {
	//right: 2px;
  //}
  //.pop-trigger, .link-trigger {
	//font-size: 9px;
  //}
  //footer {
	//div.wpcf7 input[type="submit"] {
	//  margin-right: 0;
	//  margin-left: 0;
	//}
	//div.wpcf7 input[type="email"], div.wpcf7 input[type="submit"] {
	//  border-radius: size(29) !important;
	//}
  //}
}
