@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "forms";
@import "partials";
@import "header-footer";


body{
  font-family: $heebo;
  text-align: right;
  color: #000000;
}
.wow {
  visibility: hidden;
}
.base-title {
  @include base-title;
  color: #000000;
}
.base-title-white {
  @include base-title;
  color: #ffffff;
}
.mid-text {
  @include mid-text;
}
.base-text {
  @include base-text;
}
.base-text-white {
  @include base-text;
  color: #ffffff;
}
.base-output {
  h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin-bottom: size(20);
  }
  h1 {
	font-size: size(50);
	line-height: size(52);
  }
  h2 {
	@include base-title;
  }
  h3 {
	@include mid-title;
  }
  h4 {
	font-size: size(30);
	line-height: size(32);
  }
  h5 {
	@include mid-text;
  }
  h6 {
	font-size: size(22);
	line-height: size(25);
  }
  p, li {
	@include base-text;
  }
  p {
	margin-bottom: size(36);
  }
  li {
	list-style: disc;
  }
  ul {
	margin: 0 1rem;
  }
}
.slider-output {
  h1 {
	@include mid-title;
	font-weight: 700;
  }
  h2 {
	@include mid-text;
	font-weight: 700;
  }
  h3 {
	font-size: size(24);
	line-height: size(26);
  }
  h4 {
	font-size: size(22);
	line-height: size(25);
  }
  h5 {
	font-size: size(20);
	line-height: size(22);
  }
  h5 {
	@include base-text;
	font-weight: 700;
  }
}
.white-text {
  * {
	color: #ffffff !important;
  }
}
.page-output {
  h1 {
	@include mid-title;
  }
  h2 {
	font-size: size(32);
	line-height: size(34);
  }
  h3 {
	@include mid-text;
  }
  h4 {
	font-size: size(24);
	line-height: size(26);
  }
  h5 {
	font-size: size(22);
	line-height: size(25);
  }
  h6 {
	font-size: size(20);
	line-height: size(22);
  }
}
.white-centered-output {
  * {
	text-align: center;
	color: #ffffff;
  }
  p, li {
	font-weight: 300;
  }
}
.border-wrap, [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
  @include d-center;
  padding: 8px;
  min-width: size(43);
  height: size(40);
  border: 1px solid #ffffff;
  background-color: #000000;
  transition: background-color .5s;
  .fa, .fab {
	color: #ffffff;
	font-size: 1.2rem;
	transition: color .5s;
  }
}
.more-link {
  @include d-center;
  color: #ffffff;
  cursor: pointer;
  height: size(38);
  border: 1px solid #ffffff;
  background-color: #000000;
  background-image: url("../iconsall/arrow-down-white.png");
  background-repeat: no-repeat;
  background-size: size(12);
  background-position: size(19) center;
  padding: 8px 19px 8px size(49);
  transition: color, background-color, background-image .5s ;
  @include base-text;
  text-align: center;
  margin-bottom: 2rem;
  &:hover {
	background-color: #ffffff;
	background-image: url("../iconsall/arrow-down-back.png");
	color: #000000;
	transition: color, background-color, background-image .5s ;
  }
  &.hide {
	display: none;
  }
}
.about-link {
  margin-top: 1rem;
  background-image: url("../iconsall/arrow-left-w.png");
  &:hover {
	background-image: url("../iconsall/arrow-left.png");
  }
}
.link-hover:hover {
  background-color: #ffffff;
  transition: background-color .5s;
  .fa, .fab {
	color: #000000;
	transition: color .5s;
  }
}
.page-body {
  background-color: #000000;
  padding-top: 20px;
}
.posts-output {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  .col-post {
	padding: 0 4px;
  }
}
//Contact page
.contact-type {
  color: #ffffff;
  @include mid-text;
  font-weight: 500;
  font-family: $rubik;
}
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.contact-icon-wrap {
  @include d-center;
  width: size(86);
  min-width: size(86);
  height: size(86);
  border: 1px solid #ffffff;
  background-color: #000000;
  margin-left: size(38);
  padding: 15px;
  img {
	max-height: 100%;
  }
}
.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 14px;
}
//Homepage
.main-video-block {
  position: relative;
}
.main-video-block video {
  width: 100%;
  height: auto;
}
.main-image-block {
  padding-top: 400px;
  @include back-img;
}
.reverse-slider {
  .base-slider-block {
	background-color: transparent;
	.white-text * {
	  color: #000000 !important;
	}
  }
  .row-slider {
	flex-direction: row-reverse;
  }
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	border: 1px solid #000000;
	background-color: #ffffff;
  }
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left.png");
	&:hover {
	  background-color: #000000;
	  background-image: url("../iconsall/arrow-left-w.png");
	}
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-right.png");
	&:hover {
	  background-image: url("../iconsall/arrow-right-w.png");
	}
  }
}
.home-posts, .why-us-block, .home-reviews-block {
  background-color: #000000;
  padding-top: 50px;
}
.number-circle {
  @include d-center;
  min-width: size(110);
  height: auto;
  padding: size(35);
}
.process-wrap {
  display: flex;
  flex-direction: column;
}
.process-title {
  font-size: size(23);
  line-height: size(25);
  color: #ffffff;
  font-weight: 700;
}
.process-text {
  font-weight: 300;
}
.why-img-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.link-block-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.home-form-block {
  padding-bottom: 4rem;
}
.rev-img-col {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.home-reviews-block {
  background-image: url("../img/reviews-back.png");
  @include back-img;
}
.home-rev-col {
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .review-item {
	flex-grow: 0;
  }
}
.services-block {
  background-color: #000000;
}
.serv-col {
  padding: 0 7px;
  margin-bottom: 10px;
}
.home-service {
  position: relative;
  @include d-center;
  @include back-img;
  width: 100%;
  height: 190px;
}
.home-service-title {
  @include d-center;
  width: 100%;
  height: 100%;
  padding: size(50) 10%;
  background-color: rgba(0, 0, 0, 0.4);
  @include base-title;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  border: 1px solid #ffffff;
  &.hide {
	opacity: 0;
	pointer-events: none;
  }
}
.home-serv-overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}
.serv-cont-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  height: 100%;
  padding: size(30) size(20) size(20) 35%;
  .post-link {
	background-image: url("../iconsall/arrow-left.png");
	border: 1px solid #050505;
	background-color: #ffffff;
	left: 10px;
	bottom: 10px;
	&:hover {
	  background-color: #000000;
	  background-image: url("../iconsall/arrow-left-w.png");
	}
  }
}
.serv-link-block-wrap {
  margin-bottom: -2rem;
}
.block-link {
  @include d-center;
  @include base-text;
  color: #ffffff;
  padding-left: size(45);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 15px;
  background-image: url("../iconsall/arrow-left-w.png");
  transition: background-position .5s;
  &:hover {
	color: #ffffff;
	background-position: left center;
	transition: background-position .5s;
  }
}
.black-back {
  background-color: #000000;
}
//Post
.gallery-slider {
  position: relative;
  padding: 0 4rem;
}
.gallery-slider-block {
  .slick-prev, [dir="rtl"] .slick-next {
	position: absolute;
	width: 4rem;
	height: 100%;
	border: none;
	background-color: #000000;
	background-position: center;
	background-repeat: no-repeat;
	background-size: size(23);
	&:hover {
	  background-color: #000000;
	}
  }
  [dir="rtl"] .slick-prev {
	right: 0;
	background-image: url("../iconsall/arrow-right-w.png");
  }
  [dir="rtl"] .slick-next {
	left: 0;
	background-image: url("../iconsall/arrow-left-w.png");
  }
}

.slider-wrapper {
  padding: 4px;
}
.slider-picture {
  display: flex;
  @include back-img;
  width: 100%;
  &:after {
	display: block;
	content: '';
	padding-bottom: 100%;
  }
}
.link-post-save {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 35px;
  &:hover {
	.file-save-text {
	  color: #000000;
	}
  }
}
.file-icon-wrap {
  @include d-center;
  min-width: size(44);
  width: size(44);
  height: size(56);
  border: 2px solid #ffffff;
  background-color: #000000;
  margin-left: 13px;
}
.file-save-text, .social-item-text {
  @include base-text;
  color: #000000;
  font-weight: 700;
}
.video-trigger-wrap {
  position: relative;
  @include d-center;
  min-height: size(39);
  border-radius: 19px 21px 18px 19px;
  background-color: #808080;
  color: #ffffff;
  font-size: size(23);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(25);
  padding: 8px size(60) 8px size(33);
  .play-button {
	position: absolute;
	right: 0;
  }
}
.sticky-form {
  position: sticky;
  top: 0;
  z-index: 999;
}
.trigger-wrap {
  position: relative;
}
.all-socials {
  position: absolute;
  display: flex;
  top: 100%;
  right: 2rem;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  transition: opacity .5s;
  &.show-share {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.social-item {
  @include d-center;
  width: size(30);
  height: size(30);
  margin: 0 3px;
  transition: background-color .5s;
}
.social-trigger {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.base-form-wrap {
  border: 1px solid #ffffff;
  background-color: #000000;
  padding: 20px size(56);
  margin: 40px 0;
}

@import "responsive";
